

.nav {
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
    padding: 15px 5px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-width: 300px;
}

ul li {
    margin: 5px 10px;
}

.link2 {
    color: black;
    font-size: 20px;
}


.active {
    color: white;
}

.ped {
    color: red;
}

.orange {
    color: orange;
}